<div class="container mt-5">
  <div class="text-center">
    <h1 class="pt-5">
      {{title}}
    </h1>
    <div class="position-fixed end-0 top-0">
      <div class="mt-5">
        <a href="{{edit}}?id={{id}}" class="btn btn-dark mt-3">Update</a>
        <a href="{{delete}}?id={{id}}" class="btn btn-danger mt-3 me-4">Delete</a>
      </div>
    </div>
  </div>
  <p class="fs-3 mb-5">{{description}}</p>
</div>