<div class="container mt-5">
  <div class="row">
    <div class="col col-6 mx-auto">
      <form action="{{url}}" data-url="{{redirect}}" method="post" class="pt-5">
        <div id="error"></div>
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input type="text" name="title" class="form-control" id="title">
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Enter Description</label>
          <textarea class="form-control" name="description" id="description" style="height: 200px;"></textarea>
        </div>
        <button type="submit" class="btn btn-dark">Save article</button>
      </form>
    </div>
  </div>
</div>