/* reset styles */
* {
  color: inherit;
  margin: 0;
}

body {
  background: lightgrey;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

hr {
  border: 0;
  border-top: 1px solid #efefef;
}

img {
  max-width: 100%;
}

a.nav-link, a.navbar-brand {
  color: #fff;
  font-weight: bold;
}

li.list-group-item a {
  color: black;
  font-weight: bold;
}

a.nav-link:hover, a.navbar-brand:hover, li.list-group-item a:hover {
  color: lightgreen;
  text-shadow: 0px 1px 2px darkgreen;
}

header, footer {
  width: 100%;
  z-index: 99;
}

li.list-group-item + li.list-group-item {
  margin-top: 20px;
}
