<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col col-6 mx-auto">
      <form action="{{url}}"  data-url="{{redirect}}" method="post" class="pt-5">
        <div id="error"></div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" name="email" class="form-control" id="email">
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Enter Password</label>
          <input type="password" name="password" class="form-control" id="password">
        </div>
        <button type="submit" class="btn btn-dark">Login</button>
        <a href="/register" class="btn btn-dark">Register</a>
      </form>
    </div>
  </div>
</div>
