<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col col-6 mx-auto">
      <form action="{{url}}"  data-url="{{redirect}}" method="post" class="pt-5">
        <div id="error"></div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" name="email" class="form-control" id="email">
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Enter Password</label>
          <input type="password" name="password" class="form-control" id="password">
        </div>
        <div class="mb-3">
          <label for="confirmPassword" class="form-label">Confirm password</label>
          <input type="password" name="confirmPassword" class="form-control" id="confirmPassword">
        </div>
        <div class="mb-3">
          <label for="confirmPassword" class="form-label">Gender</label>
          <select name="gender_id" id="registerGender" class="form-control">
            <option value="0" selected>Not known</option>
            <option value="1">Male</option>
            <option value="2">Female</option>
            <option value="9">Not applicable</option>
          </select>
        </div>
        <button type="submit" class="btn btn-dark">Register</button>
      </form>
    </div>
  </div>
</div>