<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col col-6 mx-auto">
      <h3  class="pt-5">Change email</h3>
      <form action="{{url}}" method="post" data-url="{{redirect}}">
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" name="email" class="form-control" id="email" value="{{user}}">
        </div>
        <button type="submit" class="btn btn-dark">Update email</button>
      </form>
      <h3  class="mt-4">Change password</h3>
      <div id="error"></div>
      <form action="{{url}}" method="post">
        <div class="mb-3">
          <label for="password" class="form-label">New Password</label>
          <input type="password" name="password" class="form-control" id="password">
        </div>
        <div class="mb-3">
          <label for="confirmPassword" class="form-label">Confirm password</label>
          <input type="password" name="confirmPassword" class="form-control" id="confirmPassword">
        </div>
        <button type="submit" class="btn btn-dark">Update password</button>
      </form>
      <h3  class="mt-4">Delete account</h3>
      <a href="{{delete}}" class="btn btn-danger">Delete</a>
    </div>
  </div>
</div>