<header class="position-fixed top-0 bg-black">
  <div class="container">
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <a class="navbar-brand" href="{{home}}">Home</a>
        <ul class="navbar-nav d-flex">
          <li class="nav-item">
            <a class="nav-link" href="{{articles}}">Articles</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{new}}">New Article</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{editUser}}">{{user}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{logout}}">Log out</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>